html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
    background-color: #342F2C !important;
}

a {
  color: #000;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
img{
  max-width: 100%;
}
.menuArea{
  padding-top: 10px;
  padding-bottom: 30px;
}

.menuitem-area li::marker {
  content:'';
}
.menuitem-area li a{
  text-decoration: none;
  line-height: 1.375;
  text-transform: uppercase;
  font-weight: 700;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  color: #fff;

}
.home-banner{
  padding-left: 20px;
  padding-right: 20px;
}

.banner-content h2{
    font-size: 2.5rem;
    color:#9D4916
}

.banner-content p{
  font-size: 16px;
  color:#fff;
  padding-bottom: 30px;
  padding-top: 15px;
}

.banner-content a{
  background-color: #9D4916;
  padding: 12px 30px;
  color: #fff;
  text-decoration: none;
  margin-top: 30px;
  font-weight: 600;
  border-radius: 5px;
}
.concept-project-area{
  padding-top: 80px;
  padding-bottom: 80px;;
  
}
.concept-title{
  color: #9D4916;
}
.project-content-area ul{
padding-right: 200px;
padding-top: 40px;
}
.project-content-area li{
  color: #fff;
  padding-bottom: 20px;
  
}